body{
background-color: black;
}


#containerForm,  #containerCadastro, #containerTable{ 
    background-color:#343131;
    padding: 20px;
    border-radius: .25rem;
    margin: 20px;
}

#containerTable{ 
    background-color:#fff;
}

.labelForm{
color: #fff;
}